<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="content-type" content="text/html; charset={$charset}" />
  <title>Ваша заявка на тур принята</title>  
</head>
<body style="margin:0">
<table cellpadding="0" border="0" cellspacing="0" style="font:12px verdana,arial,sans-serif; color:#000" align="center" width="100%">
  <tr>
    <td><h1 style="margin:30px 0 30px 20px;pading:0; font-size:21px; font-weight:Georgia; color:#004c92">Ваша заявка на тур принята</h1></td>
  </tr>
  <tr>
    <td>
      <p style="margin:18px 0 30px 20px;font:14px arial,sans-serif; color:#000">
        Ваша заявка на тур в {$country_name} принята. Мы свяжемся с вами в ближайшее время.<br /><br />
        Спасибо за то, что пользуетесь нашими услугами.<br /><br />
        С уважением,<br />
        {$agency_name}<br />
        {$agency_phone}
      </p>
    </td>
  </tr>
</table>
</body>
</html>